<p id="glymphId">
    <i class="glyphicon glyphicon-menu-hamburger" style="font-size: 2.5;"
       onclick="myFunction('navId')">Menu</i>
</p>

<div id="navId">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
        {% if forloop.first %}
        <li class="nav-header" onclick="myFunction('{{attr}}')">{{ label }}</li>
        <li>
            <ul id="{{attr}}" class="nav nav-pills nav-stacked">
                {% endif %}
                <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </li>

        {% endfor %}

    </ul>
</div>


    {% for section3 in site.sections %}
    {% assign attr3 = section3[0] %}

    {% assign label3 = section3[1] %}
<script>
    document.getElementById('{{ attr3 }}').style.display = "none";
</script>
    {% endfor %}

<script>
    if (screen.width <= 480)
        document.getElementById('navId').style.display = "none";
    else
        document.getElementById('glymphId').style.display = "none";
</script>



<script>
    var last = 'first;'
    function myFunction(parent) {

        if (last !== 'first')
            document.getElementById(last).style.display = "none";

        if (document.getElementById(parent).style.display !== "none")
            document.getElementById(parent).style.display = "none";
        else
            document.getElementById(parent).style.display = "block";

        last = parent;
    }

</script>
