<p>
    <i class="glyphicon glyphicon-cog" style="font-size: 2.5em;"
       onclick="myFunction('navId')"></i>
</p>

<div id="navId">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
        {% if forloop.first %}
        <li class="nav-header">{{ label }}</li>
        <li>
            <ul id="{{attr}}">
                {% endif %}
                <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                {% if forloop.last %}
            </ul>
            {% if forloop.last %}
        </li>
        {% endfor %}
        {% endfor %}


        <!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
    </ul>
</div>
<div>
    <ul class="nav nav-pills nav-stacked">

        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for section1 in site.sections %}
        {% assign attr1 = section1[0] %}
        {% assign label1 = section1[1] %}

        {% for page1 in site.categories[attr1] %}
        {% if forloop.first %}
        <li class="nav-header">{{ label1 }}</li>
        {% endif %}
        <li data-order="{{ page1.order }}"><a href="{{ site.baseurl }}{{ page1.url }}">{{ page1.title }}</a></li>
        {% endfor %}
        {% endfor %}

    </ul>

</div>

    {% for section in site.sections %}
    {% assign attr2 = section[0] %}

    {% assign label2 = section[1] %}
<script>
    document.getElementById('{{ attr2 }}').style.display = "none";
</script>
    {% endfor %}

<script>
    if (screen.width <= 480) 
        document.getElementById('navId').style.display = "none";
</script>

<script>
    var last = null;
    function myFunction(parent) {
        //alert(parent);
        if (last !== null)
            document.getElementById(last).style.display = "none";

        if (document.getElementById(parent).style.display !== "none")
            document.getElementById(parent).style.display = "none";
        else
            document.getElementById(parent).style.display = "block";
    }

</script>
