<ul class="nav nav-pills nav-stacked" style="list-style-type: none;">
    <li><i class="glyphicon glyphicon-cog" style="font-size: 2.5em;" 
           onclick="myFunction2('{{site.sections}}')"></i></li>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
    {% assign attr = section[0] %}

    {% assign label = section[1] %}

    {% for page in site.categories[attr] %}
    {% if forloop.first %}
    <li onclick="myFunction('{{attr}}')" class="nav-header">{{ label }}</li>
    <li>
    <ul id="{{attr}}" >
    {% endif %}
    <li style="display: block;" data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
        </ul></li>

    {% endfor %}
    <!-- List additional links. It is recommended to add a divider
        e.g. <li class="divider"></li> first to break up the content. -->
</ul>
<script>
    function myFunction(parent) {
        //alert(parent);
        if (document.getElementById(parent).style.display !== "none")
            document.getElementById(parent).style.display = "none";
        else
            document.getElementById(parent).style.display = "block";
    }
    function myFunction2(parent) {
        alert(parent);
        for (x in parent)
            alert(person[x]);
    }


</script>
